body {
    --s: 65px; /* control the size*/
    --c1: #ffffff;
    --c2: #f7f7f7;
    
    --_g: #0000 8%,var(--c1) 0 17%,#0000 0 58%;
    background: 
      linear-gradient(135deg,#0000 20.5%,var(--c1) 0 29.5%,#0000 0) 0 calc(var(--s)/4),
      linear-gradient( 45deg,var(--_g)) calc(var(--s)/2) 0,
      linear-gradient(135deg,var(--_g),var(--c1) 0 67%,#0000 0),        
      linear-gradient( 45deg,var(--_g),var(--c1) 0 67%,#0000 0 83%,var(--c1) 0 92%,#0000 0),
      var(--c2); 
    background-size: var(--s) var(--s);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

h3 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 90%;
    
}

button {
    margin: 0px 20px;
}


.enunciado-bg {
    width: 90%;
    height: 200px;
    margin-top: 20px;
    border-radius: 20px; 
}

.pista-bg {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    margin-bottom: 60px;
}

#timer {
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
}

.text-danger {
    color: red;
}

.text-timer {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    font-size: 50px;
}
